---
layout: default
title: Element List 
permalink: /elements/
---

{% for element in site.data.elements %}
{% include elements.html %}
{% endfor %}


<h1 class="banner">Header One</h1>
<h2>Header Two</h2>
<h3>Header Three</h3>

<p>AirDrop. Share with people nearby. If you don’t see them, have them turn on AirDrop in Control Center on iOS, or go to AirDrop in Finder on a Mac.</p>
<p>Did you know? AirDrop. Share with people nearby. If you don’t see them, have them turn on AirDrop in Control Center on iOS, or go to AirDrop in Finder on a Mac.</p>

<h3>List Styles</h3>
<ul>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
    <li>list item</li>
</ul>
