{% comment %}  ---------------------------  Element Definitions  ---------------------------  {% endcomment %}

{% case element.element_type %}


{% comment %}  ---------------------------  Buttons & Icons  ---------------------------  {% endcomment %}


{% comment %}  ------|  Button

                        expects: 
                            href
                            label
                            icon - optional
                            variant - optional, allows for primary, secondary button styles

{% endcomment %}

{% when "button" %}
<a class="button{% if element.variant %} {{ element.variant }}{% endif %}" href="{{ element.href }}">{{ element.label }}{% if element.icon %}<i class="fa {{ element.icon }}" aria-hidden="true"></i>{% endif %}</a>



{% comment %}  ------|  Navbar Icons.

                        expects: 
                            element.href - link location
                            element.label - link label
                            element.icn_class - icon to use

{% endcomment %} 

{% when "navbar" %}
<nav>
{% for row in element["buttons"] %}
<a href="{{ row.href }}" rel="{{ row.label }}"><i class="fa {{ row.icn_class }}" aria-hidden="true"></i></a>
    {% endfor %}
</nav>

{% comment %}  ------|  Link List.

                        expects: 
                            Additional Class
                            Array of links
{% endcomment %} 

{% when "link-list" %}
<ul class="link-list{% if element.additional_class %} {{ element.additional_class }}{% endif %}">
    {% for row in element["links"] %}
    <li><a href="{{ row.href }}">{{ row.label }}</a></li>
    {% endfor %}
</ul>


{% comment %}  ------|  overlay.

{% endcomment %} 
{% when "overlay" %}
<div class="welcome">
    <a class="nav-toggle" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
    <h2>{{ element.user }}</h2>
    {% if element.cli_ref %}
    <ul>
        <li>Client reference: {{ element.cli_ref }}</li>
        <li>Adviser: {{ element.adviser-name }}</li>
        <li>Adviser number: {{ element.adviser-num }}</li>
        {% if element.prev_login %}
        <!-- <li data-ts="{{ element.prev_login  }}">Last login: </li> -->
        <li>Last login: {{ element.prev_login  }}</li>
        {% endif %}
    </ul>
    {% endif %}
    <ul class="util-nav">
        {% for row in element["link-list"] %}
        <li><a href="{{ row.href }}"><i class="fa {{ row.icon }}" aria-hidden="true"></i>{{ row.label }}</a></li>
        {% endfor %}
    </ul>
</div>



{% comment %}  ---------------------------  Text Elements  ---------------------------  {% endcomment %}


{% comment %}  ------|  Welcome Message.

                        expects: 
                            element.user - user name
                            cli_ref - Client reference number, optional
                            prev_login - unix timestamp, optional

                        TODO: 
                            add some js to convert timestamp 
{% endcomment %} 

{% when "welcome_message" %}
<div class="welcome{% if element.add_class %} {{ element.add_class }}{% endif %}">
<h1>Good <span>Morning</span> {{ element.user }}</h1>
{% if element.cli_ref %}
    <ul>
        <li>Client reference: {{ element.cli_ref }}</li>
        {% if element.prev_login %}
        <li data-ts="{{ element.prev_login  }}">Last login: </li>
        {% endif %}
    </ul>
{% endif %}
</div>

{% when "info_block" %}
<div class="info_block{% if element.add-class %} {{element.add-class}}{%endif%}">
{% for row in element["text-rows"] %}
    <p>{{ row.text }} </p>
{%endfor%}
</div>

{% comment %}  ------|  News Feed

                        expects: 
                            title
                            news - array of stories
                                title, date, summary - date is optional

{% endcomment %}

{% when "news_feed" %}
<div class="listicle row {{ element.element_type }}">
    <h2>{{ element.title }}</h2>
    {% for row in element["news"] %}
    <div class="news">
        <h3>{{ row.title }} {{ row.date }}</h3>
        <p>{{ row.summary }}</p>
    </div>
    {% endfor %}
</div>
{% comment %}
{% when "newslist" %}
<div class="listicle row {{ element.element_type }} accordion">
    <h1>News</h1>
    {% for row in element["news_items"] %}
    <div class="block{% if field.read == 'true' %} read{% endif %}">
        <h3><a href="{{ row.href }}">{{ row.title }}</a></h3>
        <h3>{{row.date}}</h3>
        <div class="details">
            <p>{{row.summary}}</p>
        </div>
        <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
    {% endfor %}
</div>
{% endcomment %}

{% comment %}  ---------------------------  Listicles  ---------------------------  {% endcomment %}

{% comment %}  ------|  Folio view

                        expects: 
                            title
                            sources - array of funds
                                title, ref, fields [array for each field contains: label and value]

{% endcomment %}

{% when "folio_view" %}
<div class="listicle {{ element.element_type }}">
    <div class="block folio_total has_link">
        <div>
            <p><a href="/folio/overview">{{ element.title }}</a></p>
            <p class="pf_total">blah</p>
        </div>
    </div>
    <div class="col-2">
        {% for row in element["sources"] %}
        <div class="block has_link">
            <div>
                <p><a href="/folio/{{row.href}}">{{ row.title }}</a></p>
                <p>{{ row.ref }}</p>
            </div>
            {% if row.joint_holder %}
            <div>
                <p><i class="fa fa-users" aria-hidden="true"></i> {{ row.joint_holder }}</p>
            </div>
            {% endif %}
            {% for field in row["fields"] %}
            <div>
                <p>{{ field.label }}</p>
                <p><span class="pf_val">{{ field.value }}</span></p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


{% when "header_graph" %}
<div class="listicle {{ element.element_type }}{% if element.add_class %} {{ element.add_class }}{% endif %}">
    <div class="block">
        <div>
        <h2>Portfolio Valuation</h2>
        <img src="{{ element.src }}" />
    </div>
    <div class="details">
        <p>khkhkjhdshuadhakd kljds lakjd alkjdsh alkjsdalkjsdh alkjsd kadsnalsd lkajsd </p>
    </div>
    <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
</div>


{% comment %}  ------|  Folio Breakdown

                        expects: 
                            acc_info - array of details
                                [ acc_ref, acc_name, joint_holder (optional) ]
                            acc_transs - array of transactions
                                [label, value]

{% endcomment %}

{% when "folio_breakdown" %}
<div class="listicle {{ element.element_type }}">
    <div class="folio_info block">
        {% for row in element["acc_info"] %}
            <div>
                <p>{{ element.title }}</p>
                <p>{{ row.acc_ref }}</p>
            </div>
            {% if row.acc_name %}
            <div>
                <p>{{ row.acc_name }}</p>
            </div>
            {% endif %}
            {% if row.joint_holder %}
            <div>
                <p>Joint account holder</p>
                <p>{{ row.joint_holder }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="block acc_trans">
    {% for row in element["acc_trans"] %}
        <div>
            <p>{{ row.label }}</p>
            <p><span class="pf_val">{{ row.value }}</span></p>
        </div>
    {% endfor %}
    </div>
</div>

{% when "graph" %}
<a class="button{% if element.button_type %} {{ element.button_type }}{% endif %}" href="#{{ element.label | downcase | split:' ' }}">{{ element.label }}{% if element.icon %}<i class="fa {{ element.icon }}" aria-hidden="true"></i>{% endif %}</a>

<!-- Modal -->
<div class="modal" id="{{ element.label | downcase | split:' ' }}" aria-hidden="true">
    <a href="#close"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="modal-dialog">
    <div class="image-holder">
        <img src="{{ element.href }}" alt="{{ element.title }}" />
    </div>
    {% if element.table_data %}
    <div class="image-holder">
        <img src="/images/graphs/MIMO.png" alt="" />
    </div>
    {% endif %}
    <div class="modal-footer">
        {% if element.src %}
        <a class="button{% if element.button_type %} {{ element.button_type }}{% endif %}" href="{{ element.src }}">Analysis<i class="fa fa-bar-chart" aria-hidden="true"></i></a>
        {% endif %}
    </div>
  </div>
</div>
<!-- /Modal -->



{% when "folio_funds" %}
<div class="listicle row {{ element.element_type }} accordion">
    {% for row in element["acc_funds"] %}
    <div class="block acc_funds">
        <div>
            <p>{{ row.title }}</p>
            <p><span>{% if row.prefix %}{{ row.prefix }}{%endif%}{{ row.value }}</span></p>
        </div>
        <div class="details">
            {% for field in row["fund_details"] %}
            <div>
                <p>{{ field.label }}</p>
                <p><span>{% if field.prefix %}{{ field.prefix }}{%endif%}{{ field.value }}</span></p>
            </div>
            {% endfor %}
            <div class="info-buttons">
            {% for field in row["documents"] %}
            <a class="button outline" href="{{ field.href }}">{{ field.label }}<i class="fa {{ field.icon }}" aria-hidden="true"></i></a>
            {% endfor %}
            </div>
        </div>
        <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
    {% endfor %}
</div>


{% when "model_folio" %}
<div class="listicle row {{ element.element_type }} accordion">
    <div class="block acc_funds">
        <div>
            <p>Model portfolio</p>
            <p><span>{% if field.prefix %}{{ field.prefix }} {%endif%}{{ element.title }}</span></p>
        </div>
        <div class="details">
            {% for field in element["fund-list"] %}
            <div>
                <p>{{ field.fund-name }}</p>
                <p><span>{% if field.prefix %}{{ field.prefix }} {%endif%}{{ field.split }}</span></p>
            </div>
            {% endfor %}
        </div>
        <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
</div>



{% when "transaction_history" %}
<div class="listicle {{ element.element_type }} accordion">
    {% for row in element["acc_trans"] %}
    <div class="block acc_funds">
        <div>
            <p>{{row.label}}</p>
            <p><span>{% if row.prefix %}{{ row.prefix }}{%endif%}{{ row.value }}</span></p>
        </div>
        <div>
            <p>{{ row.date }}</p>
        </div>
        <div class="details">
            {% for fee in row["fees"] %}
            <div>
                <p>{{ fee.label }}</p>
                <p class="fee"><span>{% if fee.prefix %}{{ fee.prefix }}{%endif%}{{ fee.value }}</span></p>
            </div>
            {% endfor %}
            <div>
                <p>Asset</p>
                <p>Value</p>
            </div>
            {% for trans in row["breakdown"] %}
            <div>
                <p>{{ trans.label }}</p>
                <p><span>{% if trans.prefix %}{{ trans.prefix }}{%endif%}{{ trans.value }}</span></p>
            </div>
            {% endfor %}
        </div>
        <div class="cash">
            <p>Cash</p>
            <p>{{ row.acc-cash }}</p>
        </div>
        <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
    {% endfor %}
</div>


{% when "newslist" %}
<div class="listicle row {{ element.element_type }} accordion">
    <h1>News</h1>
    {% for row in element["news_items"] %}
    <div class="block{% if field.read == 'true' %} read{% endif %}">
        <h3><a href="{{ row.href }}">{{ row.title }}</a></h3>
        <h3>{{row.date}}</h3>
        <div class="details">
            <p>{{row.summary}}</p>
        </div>
        <div class="toggle"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    </div>
    {% endfor %}
</div>


{% when "doc_list" %}
<div class="listicle {{ element.element_type }}">
    {% for field in element["download_info"] %}
    <div class="block{% if field.read == 'true' %} read{% endif %}">
        <h3><a href="{{ field.href }}">{{ field.label }}</a></h3>
        <p>{{ field.summary }}</p>
        <p>{{ field.date }}</p>
        {% if field.icon %}<i class="fa {{ field.icon }}" aria-hidden="true"></i>{% endif %}
    </div>
    {% endfor %}
</div>


{% when "deets" %}
<div class="{{ element.element_type }}">
    <h2>{{ element.title }}</h2>
    {% if element.fields %}
    <div class="{{ element.element_type }}_fields">
        {% for row in element["fields"] %}
        <div data-label="{{ row.label | downcase | split:' ' }}">
            {% if element.add_class != "hide_labels" %}
            <p>{{ row.label }} </p>
            {% endif %}
            <p class="copy_large{% if row.editable == 'true' %} pref_editable{% endif %}">{{ row.value }}{% if row.editable == 'true' %} <i class="fa fa-caret-right" aria-hidden="true"></i>{% endif %}
            </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% comment %}  ---------------------------  Form Elements  ---------------------------  {% endcomment %}


{% comment %}  ------|  Form.

                        expects: 
                            title
                            fields - array
                            [label, type]

                        TODO: 
                            add some js to convert timestamp 
{% endcomment %} 

{% when "form" %}
{% if element.title %}<h1>{{ element.title }}</h1>{% endif %}
<div class="form-area{% if element.additional_class %} {{ element.additional_class }}{% endif %}"> 
    
    <form action="{{ element.action }}">
        {% for row in element["fields"] %}
            {% if row.type == "text" %}
                {% if row.outer_label %}
                <label for="{{ row.name }}">{{ row.outer_label }}</label>
                {% endif %}
                <input type="text" name="{{ row.name }}" id="{{ row.name }}" placeholder="{{ row.label }}" />
            {% endif %}
            {% if row.type == "password" %}
                {% if row.outer_label %}
                <label for="{{ row.name }}">{{ row.outer_label }}</label>
                {% endif %}
                <input type="password" name="{{ row.name }}" id="{{ row.name }}" placeholder="{{ row.label }}" />
            {% endif %}
            {% if row.type == "textarea" %}
                {% if row.outer_label %}
                <label for="{{ row.name }}">{{ row.outer_label }}</label>
                {% endif %}
                <textarea name="{{ row.name }}" rows="10" cols="10" id="{{ row.name }}"></textarea>
            {% endif %}
            {% if row.type == "select" %}
                {% if row.outer_label %}
                <label for="{{ row.name }}">{{ row.outer_label }}</label>
                {% endif %}
                <div class="styled-select">
                    <select name="{{ row.name }}" id="{{ row.name }}"{% if row.controller %} class="controller {{ row.controller }}{%endif%}">
                        {% if row.label %}
                        <option value="{{ row.label }}" selected >{{ row.label }}</option>
                        {% endif %}
                        {% for opt in row{"options"] %}
                        <option value="{{ opt.val }}"{% if opt.selected %} selected{% endif %}>{{ opt.label }}</option>
                        {% endfor %}
                    </select>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            {% endif %}
            {% if row.type == "submit" %}
                <input type="submit" name="{{ row.name }}" id="{{ row.name }}" value="{{ row.label }}" class="submit_button"/>
            {% endif %}
        {% endfor %}
       <!-- 
        <label for="City">City:</label>
        <input type="text" name="City" id="City" />

        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" />
        
        <label for="Message">Message:</label><br />
        <textarea name="Message" rows="20" cols="20" id="Message"></textarea>

        <input type="submit" name="submit" value="Submit" class="submit-button" />
-->
    </form>

</div>





{% comment %}  ---------------------------  dev elements  ---------------------------  {% endcomment %}

{% when "swatches" %}

{%for swatch in element["clrs"] %}
  <div class="swatch" style="background: {{ swatch.color }}">
    <p>{{ swatch.label }}</p>
  </div>
{% endfor %}




{% comment %}  ---------------------------  fallback case  ---------------------------  {% endcomment %}

{% else %}

<p class="error" ><b>The element type for {{element}} is not defined</b></p>

{% endcase %}
