// Button Icons
.navbar{
@include columns(4);
    background: $nuc_grey;
    padding: 1em;
    a{
        color: $nuc_grey;
        background: #fff;
        text-align: center;
        width: 2em;
        height: 2em;
        line-height: 2;
        font-size: 2em;
        border-radius: 100%;
        margin: 0 auto;
        display: block;
        position: relative;
        @include transition(all .25s ease);
        span{
            text-indent: -9999px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
        }
        i{ position: relative;}
        &:hover{
            background: $nuc_orange;
            color: #fff;
        }
    }
}
