.welcome{
    ul{
        @include cleanList;
        @include setFont('light');
        li{
            display: block;
        }
    }
}

.listicle{
    .block{
        background: #fff;
        padding: 1em ;
        margin: 1em 0;
        position: relative;
        &.has_link{
            padding: 1em 2em 1em 1em;
            cursor: pointer;
            &:after{
                content: '\f0da';
                font-family: FontAwesome;
                position: absolute;
                right: .5em;
                top: calc(50% - .5em);
            }
        }
        a{ text-decoration: none; }
        & > div:not(.details), .details div{
            display: flex;
            &:first-child{
                p:nth-child(2n-1){
                   color: $nuc_orange;
                }
            }
        }
        .info-buttons{
            a{ margin: .25em; }
        }
        p{
            margin: 0;
            width: 50%;
            display: inline;
            &:nth-child(2n){
                text-align: right;
            }
        }
        .pf_total, .pf_val{
            &:before{
                content: '\00a3';
            }
        }
    }
    &.folio_view{
        .block{
            &:first-child p{
                font-size: 1.5em;
            }
        }
    }
    &.folio_breakdown{
        .block{
            position: relative;
            &.folio_info{
                @include stretch(rgba($nuc_grey, .25));
                margin-top: 0;
                padding: 1em 0;
                p{ 
                    font-size: $copy_large;
                    margin-bottom: .5em;
                }
            }
            &.acc_trans{
                background: transparent;
                padding: 1em 0;
            }
        }
    }
    &.model_folio{
        .block{
            background: rgba($nuc_grey, .5);
            color: #fff;
            margin: 0 auto;
            p{
                color: #fff!important;
            }
        }
    }
    &.transaction_history{
        .block{
            & > div.cash{
                margin-top: 1em;
                padding-top: 1em;
                border-top: 1px solid $nuc_light;
                @include setFont('light');
            }
        }
    }
    &.doc_list{
        .block{
            padding-left: 2em;
            &:before{
                content: '';
                width: 1em;
                height: 1em;
                background: $nuc_orange;
                border-radius: 100%;
                display: block;
                position: absolute;
                left: .5em;
            }
            &.read:before{
                background: transparent;
                border:1px solid $nuc_orange;
            }
            p{ 
                display: block; 
                text-align: left;
                color: $nuc-grey;
                width: 100%;
            }
            i{
                position: absolute;
                right: .5em;
                top: calc(50% - .75em);
                font-size: 1.5em;
            }
        }
    }
}

// link list
.link-list{
    @include cleanList;
    a{
        text-decoration: none;
        margin: 1em;
    }
}

.accordion{
    padding-bottom: 0;
    .details{
        opacity: 1;
        overflow: hidden;
        @include transition(all ease .5s);
        &.is-closed{
            height: 0!important;;
            opacity: 0;
        }
    }
    .toggle{
        font-size: 1.5em;
        text-align: center;
        display: block!important;
    }
    & > div{
        padding-bottom: 0 !important;
    }
}
.accordion + .accordion{ padding-top: 0; }



