.news_feed{
    max-width: $vp-small;
    margin: 0 auto;
    h2{
        @include setFont('light');
        padding: 1em;
        color: $nuc_grey;
        text-align: center;
    }
    .news{
        padding-bottom: 1em;
    }
}
