.form-area{
    h1 + &{margin-top: 4em;}
    form{
        font-size: $copy_large;
        width: 100%;
        max-width: 280px;
        margin: 1em auto;
    }
    input, password, textarea, select{
        width: 100%;
        background: $nuc_light;
        color: $nuc_grey;
        font: inherit;
        border: none;
        padding: .5em;
        margin: .5em auto;
        display: block;
        text-align: left;
        box-sizing: border-box;
    }
    .styled-select{
        position: relative;
        select{
            padding: .5em;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        i{
            position: absolute;
            right: 0;
            top: 0;
            padding: .25em .5em;
            pointer-events: none;
            font-size: $copy_large;
        }
    }
    input[type="submit"]{
        @extend .button;
        &.submit_button{
            text-align: left;
            font-size: 1em;
            max-width: 100%;
        }
    }
    label{
        margin-top: 1em;
        display: block;
    }
    &.inverted{
        input, password, textarea, select{
            width: 100%;
            background: #fff;
            color: $nuc_grey;
        }
    }
}


.login-form{
    form{
    }
}
.login-form + .link-list{
    max-width: 280px;
    margin: 0 auto;
    li{ 
        margin: 0;
        a{ margin: 1em 0; }
    }
}
