// Layout

html{
    background: #333;
}

body{
    min-height: 130vw;
    min-height: 100vh;
    font-size: #{$fs}px;
    padding-bottom: 100px;
  @include setFont('thin');
  line-height: 1.35;
    color: $nuc_grey;
    background: $nuc_light;
    &.landing, &.login, &.bg-white{
        background: #fff;
    }
    *{ box-sizing: border-box; }
}

.row{
  width: 100%;
  max-width: $vp-large;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  .site-header + &{
    padding-top: 0;
  }
}
.info-page{
    .site-header + .row{
        text-align: center;
        h1{
            padding: 1em 0;
        }
        h2{
            color: $nuc_grey;
            padding-bottom: 1em;
        }
    }
}

// bruce's edit
