// Variables

$nuc_grey: #96857b;
$nuc_light: #f5f3f2;
$nuc_orange: #f78f21;

$b: $nuc_grey;
$w: $nuc_light;
$h: $nuc_orange;
$error: #b93644;

$vag_light: "vag-rounded-light";
$vag_thin: "vag-rounded-thin";
$font-stack: "Helvetica, Arial, sans-serif";
$light: $vag_light, $font-stack;
$thin: $vag_thin, $font-stack;


$fs: 14;

$base_copy: em(16, $fs);
$copy_small: em(14, $fs);
$copy_large: em(18, $fs);
$sub_header: em(24, $fs);
$page_title: em(32, $fs);


// viewport breakpoints
$vp-large: 1280px;
$vp-norm: 1024px;
$vp-med: 960px;
$vp-small: 600px;
$vp-teeny: 480px;
$vp-nano: 320px;
